.App {
  text-align: center;
}

.loadingContainer {
  position: relative;
  top:40px;
  color:red;
}

.workingContainer {
  margin:3px;
  padding-top:15px;
  display:grid;
  grid-auto-flow: row;
  grid-gap: 10px;
  justify-items: center;
  align-content: center;
  animation: fadeinOpacity 2s ease-in;
}

.btnContainer {
  display:grid;
  grid-auto-flow: column;
  grid-gap: 5px;
  justify-items: center;
  align-content: center;
  width:300px;
}

button {
  padding:8px;
  width:90%;
  border-radius: 15px;
  background-color: lightskyblue;
  border: 0px;
  box-shadow: 2px 2px 2px 1px lightslategray;
}

@keyframes fadeinOpacity {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

video {
  border-radius: 15px;
  animation: fadeinOpacity 2s ease-in;
}

.results {
  color: green;
}

.information > ul > li {
  list-style: none;
  padding:5px;
}