.App {
  text-align: center;
}

.mainContainer {
  margin:3px;
  padding-top:15px;
  display:grid;
  grid-auto-flow: row;
  grid-gap: 10px;
  justify-items: center;
  align-content: center;
}

.btnContainer {
  display:grid;
  grid-auto-flow: column;
  grid-gap: 5px;
  justify-items: center;
  align-content: center;
  width:300px;
}

button {
  padding:8px;
  width:90%;
  border-radius: 15px;
  background-color: lightskyblue;
  border: 0px;
  box-shadow: 2px 2px 2px 1px lightslategray;
}

video {
  border-radius: 15px;
}